div .profile-label {
  transition: background-color 0.5s;
  cursor: pointer;
  border-radius: 4px;
}

div.profile-label:hover {
  background-color: #eee;
}

div .settings-menu-button {
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  background-color: #9edbff;
}

div .settings-menu-button.logout {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #faa;
}