div .menu-entry {
  z-index: 999;
}

div .menu-entry h2 {
  margin-left: 8px;
  display: inline-block;
  text-align: center;
}

div .menu-entry-thumbnail {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  flex-shrink: 0;
}

div .menu-entry-thumbnail img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}