div .playback-video {
  overflow: hidden;
  display: block;
  position: absolute;
  width: 60%;
  height: 0;
  padding-bottom: 33.75%;
  transition: width 0.5s, padding 0.5s;
  border-radius: 16px;
  z-index: 1000;
}

div .playback-video.fullscreen {
  width: 100%;
  padding-bottom: 56.25%;
}

div .video-inner {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  background-color: #aaa;
}

div .video-click {
  overflow: hidden;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: width 0.5s, padding 0.5s;
  border-radius: 16px;
  z-index: 1000;
}

div .video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}