div .profile-header {
  text-align: center;
}

div.profile-header h1 {
  font-size: 4em;
}

div .profile-header h2 {
  color: #444;
}

div .home-menu {
  position: absolute;
  top: 0;
  right: 0;
}

div .home-menu-button {
  margin: 4px;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  background-color: #9edbff;
}

div .home-menu-button.logout {
  background-color: #faa;
}

