div .profile {
  border-radius: 50%;
  overflow: hidden;
  border-width: 4px;
  border-style: solid;
  border-color: #444;
  cursor: pointer;
}

div .profile-container h2 {
  text-decoration: none;
  color: #444;
}